.image-wrapper {
  @apply w-full relative mb-4;
  z-index: 1;
}

.image-wrapper:after {
  height: initial;
  top: 0.3em;
  left: 0.3em;
  right: -0.3em;
  bottom: -0.3em;
  background: linear-gradient(65deg, #8c8c8c, #01401c);
  content: "";
  position: absolute;
  z-index: -1;
}

.image-wrapper:first-child {
  z-index: 1;
  opacity: 1;
}

.image-wrapper .gatsby-image-wrapper {
  @apply border-black max-w-full;
  border-width: 5px;
  border-style: solid;
}
