a {
  @apply text-black;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
}
a:focus,
a:hover {
  box-shadow: inset 0 -0.3em 0 #262626;
}
a:active,
a:hover {
  outline-width: 0;
}
